@page "/"

<PageTitle>Home</PageTitle>

<h1>Magic Props Demo</h1>

<p style="font-weight:bold">
    On this demo website, we showcase a comprehensive range of magical prop components, including but not limited to: Input, Modal, Popup, Radio, Checkbox, and Tab, among others.
</p>
<p style="font-weight:bold">
    We showcase various settings for the each component, demonstrating their diverse applications within your webpage. We endeavor to cover as many settings as possible to provide a comprehensive display, but please note that some might be omitted. For a thorough understanding of each property, please kindly refer to the README file for detailed usage instructions.
</p>
