<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Magic Props Demo</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inputdemo">
                <span class="bi bi-list-lines-nav-menu" aria-hidden="true"></span> Input
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="numberinputdemo">
                <span class="bi bi-list-lines-nav-menu" aria-hidden="true"></span> Number Input
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="modaldemo">
                <span class="bi bi-list-lines-nav-menu" aria-hidden="true"></span> Modal
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="popupdemo">
                <span class="bi bi-list-lines-nav-menu" aria-hidden="true"></span> Popup
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="toastdemo">
                <span class="bi bi-list-lines-nav-menu" aria-hidden="true"></span> Toast
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="loaderdemo">
                <span class="bi bi-list-lines-nav-menu" aria-hidden="true"></span> Loader
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="datepickerdemo">
                <span class="bi bi-list-lines-nav-menu" aria-hidden="true"></span> Datepicker
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="radiogroupdemo">
                <span class="bi bi-list-lines-nav-menu" aria-hidden="true"></span> Radio Group
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="checkboxgroupdemo">
                <span class="bi bi-list-lines-nav-menu" aria-hidden="true"></span>Checkbox Group
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tabgroupdemo">
                <span class="bi bi-list-lines-nav-menu" aria-hidden="true"></span>Tab Group
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dropdownlistdemo">
                <span class="bi bi-list-lines-nav-menu" aria-hidden="true"></span>Dropdown List
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="timelinedemo">
                <span class="bi bi-list-lines-nav-menu" aria-hidden="true"></span> Timeline
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pagerdemo">
                <span class="bi bi-list-lines-nav-menu" aria-hidden="true"></span> Pager
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="accordiondemo">
                <span class="bi bi-list-lines-nav-menu" aria-hidden="true"></span> Accordion
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pivottabledemo">
                <span class="bi bi-list-lines-nav-menu" aria-hidden="true"></span> Pivot Table
            </NavLink>
        </div>

        
    </nav>
</div>

